.newform {
    min-width: 250px;
    max-width: 300px;
    padding: 25px 25px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}

.data-pick {
    width: 100%;
}

.titles {
    color: #602F6B;
}
